pandas
numpy
scikit-learn
xgboost
lightgbm
imbalanced-learn
shap
streamlit
matplotlib
seaborn
joblib
pytest
plotly
ucimlrepo
pandas
numpy
scikit-learn
xgboost
lightgbm
imbalanced-learn
shap
seaborn
joblib
pytest
plotly
ucimlrepo
altair
streamlit>=1.30.0
fpdf2
